
<link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />
<body>
    <section class="gallery-block grid-gallery">
        <div class="container">
            <div class="heading">
                <h2>Celebre seu amor com sabores inesquecíveis!</h2>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="assets/images/casamentos/img1.jpg">
                        <img class="img-fluid image scale-on-hover" src='assets/images/casamentos/img1.jpg'>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="assets/images/casamentos/img2.jpg">
                        <img class="img-fluid image scale-on-hover" src='assets/images/casamentos/img2.jpg'>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="assets/images/casamentos/img3.jpg">
                        <img class="img-fluid image scale-on-hover" src='assets/images/casamentos/img3.jpg'>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="assets/images/casamentos/img4.jpg">
                        <img class="img-fluid image scale-on-hover" src='assets/images/casamentos/img4.jpg'>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="assets/images/casamentos/img5.jpg">
                        <img class="img-fluid image scale-on-hover" src='assets/images/casamentos/img5.jpg'>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="assets/images/casamentos/img6.jpg">
                        <img class="img-fluid image scale-on-hover" src='assets/images/casamentos/img6.jpg'>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="assets/images/casamentos/img7.jpg">
                        <img class="img-fluid image scale-on-hover" src='assets/images/casamentos/img7.jpg'>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="assets/images/casamentos/img8.jpg">
                        <img class="img-fluid image scale-on-hover" src='assets/images/casamentos/img8.jpg'>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="assets/images/casamentos/img9.jpg">
                        <img class="img-fluid image scale-on-hover" src='assets/images/casamentos/img9.jpg'>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="assets/images/casamentos/img10.jpg">
                        <img class="img-fluid image scale-on-hover" src='assets/images/casamentos/img10.jpg'>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="assets/images/casamentos/img11.jpg">
                        <img class="img-fluid image scale-on-hover" src='assets/images/casamentos/img11.jpg'>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="assets/images/casamentos/img12.jpg">
                        <img class="img-fluid image scale-on-hover" src='assets/images/casamentos/img12.jpg'>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="assets/images/casamentos/img14.jpg">
                        <img class="img-fluid image scale-on-hover" src='assets/images/casamentos/img14.jpg'>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="assets/images/casamentos/img15.jpg">
                        <img class="img-fluid image scale-on-hover" src='assets/images/casamentos/img15.jpg'>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="assets/images/casamentos/img16.jpg">
                        <img class="img-fluid image scale-on-hover" src='assets/images/casamentos/img16.jpg'>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script>
        baguetteBox.run('.grid-gallery', { animation: 'slideIn'});
    </script>
</body>
