<link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />

<body>
    <section class="gallery-block grid-gallery">
        <div class="container">
            <div class="heading">
                <h2>Celebre seu amor com sabores inesquecíveis!</h2>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="assets/images/casamentos/Imagem11.jpg">
                        <img class="img-fluid image scale-on-hover" src='assets/images/casamentos/Imagem11.jpg'>
                        <div class="image-description">
                            <p>Bolo Fake</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="assets/images/casamentos/Imagem2.jpg">
                        <img class="img-fluid image scale-on-hover" src='assets/images/casamentos/Imagem2.jpg'>
                        <div class="image-description">
                            <p>Bolo Fake</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="assets/images/casamentos/Imagem12.jpg">
                        <img class="img-fluid image scale-on-hover" src='assets/images/casamentos/Imagem12.jpg'>
                        <div class="image-description">
                            <p>Bolo Fake</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="assets/images/casamentos/Imagem5.jpg">
                        <img class="img-fluid image scale-on-hover" src='assets/images/casamentos/Imagem5.jpg'>
                        <div class="image-description">
                            <p>Bolo Fake</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="assets/images/casamentos/Imagem1.jpg">
                        <img class="img-fluid image scale-on-hover" src='assets/images/casamentos/Imagem1.jpg'>
                        <div class="image-description">
                            <p>Bolo Fake</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="assets/images/casamentos/Imagem3.jpg">
                        <img class="img-fluid image scale-on-hover" src='assets/images/casamentos/Imagem3.jpg'>
                        <div class="image-description">
                            <p>Bolo Fake</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="assets/images/casamentos/Imagem6.jpg">
                        <img class="img-fluid image scale-on-hover" src='assets/images/casamentos/Imagem6.jpg'>
                        <div class="image-description">
                            <p>Bolo de andar</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="assets/images/casamentos/Imagem14.jpg">
                        <img class="img-fluid image scale-on-hover" src='assets/images/casamentos/Imagem14.jpg'>
                        <div class="image-description">
                            <p>Bolo de batizado</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="assets/images/casamentos/Imagem15.jpg">
                        <img class="img-fluid image scale-on-hover" src='assets/images/casamentos/Imagem15.jpg'>
                        <div class="image-description">
                            <p>Bolo de andar</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="assets/images/casamentos/Imagem13.jpg">
                        <img class="img-fluid image scale-on-hover" src='assets/images/casamentos/Imagem13.jpg'>
                        <div class="image-description">
                            <p>Bíblia personalizada - Pão de mel</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="assets/images/casamentos/Imagem7.jpg">
                        <img class="img-fluid image scale-on-hover" src='assets/images/casamentos/Imagem7.jpg'>
                        <div class="image-description">
                            <p>Camafeu</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="assets/images/casamentos/Imagem4.jpg">
                        <img class="img-fluid image scale-on-hover" src='assets/images/casamentos/Imagem4.jpg'>
                        <div class="image-description">
                            <p>Bombom de damasco</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="assets/images/casamentos/Imagem8.jpg">
                        <img class="img-fluid image scale-on-hover" src='assets/images/casamentos/Imagem8.jpg'>
                        <div class="image-description">
                            <p>Tortinha de iogurte</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="assets/images/casamentos/Imagem10.jpg">
                        <img class="img-fluid image scale-on-hover" src='assets/images/casamentos/Imagem10.jpg'>
                        <div class="image-description">
                            <p>Brigadeiro chique</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="assets/images/casamentos/Imagem9.jpg">
                        <img class="img-fluid image scale-on-hover" src='assets/images/casamentos/Imagem9.jpg'>
                        <div class="image-description">
                            <p>Tortinha de limão</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script>
        baguetteBox.run('.grid-gallery', { animation: 'slideIn' });
    </script>
</body>