<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>Empresa</h4>
        <ul>
          <li><a href="#">Sobre Nós</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Nos siga</h4>
        <div class="social-links">
          <a href="https://www.facebook.com/ateliemeiremoraes/?locale=pt_BR" target="_blank"
            rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/ateliemeiremoraes/" target="_blank" rel="noopener noreferrer"><i
              class="fab fa-instagram"></i></a>
        </div>
      </div>
      <div class="footer-col">
        <h4>Contato</h4>
        <ul>
          <li>Email:meiremoraesdoces@gmail.com</li>
          <li>Telefone: (16) 3262-8106</li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Localização</h4>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14838.54560611255!2d-48.8132291!3d-21.6001114!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94bed115bda7c491%3A0x71e1498ec3b7a292!2sAteli%C3%AA%20Meire%20Moraes%20-%20Bolos%20e%20Doces!5e0!3m2!1spt-BR!2sbr!4v1680024553416!5m2!1spt-BR!2sbr"
          width="320" height="180" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</footer>