footer {
	line-height: 1.5;
	font-family: 'Montserrat', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 85.65153733528551vw;
	margin: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

ul {
	list-style: none;
}

.footer {
	background-color: #24262b;
	padding: 2.1961932650073206vw 0;
}

.footer-col {
	width: 25%;
	padding: 0 1.0980966325036603vw;
}

.footer-col li {
	color: #bbbbbb;
}

.footer-col h4 {
	font-size: 1.3177159590043923vw;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 2.562225475841874vw;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: -0.7320644216691069vw;
	background-color: #faabc9;
	height: 0.14641288433382138vw;
	box-sizing: border-box;
	width: 3.6603221083455346vw;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: 0.7320644216691069vw;
}

.footer-col ul li a {
	font-size: 1.3vw;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover {
	color: #ffffff;
	padding-left: 0.5856515373352855vw;
}

.footer-col .social-links a {
	display: inline-block;
	height: 2.9282576866764276vw;
	width: 2.9282576866764276vw;
	background-color: rgba(255, 255, 255, 0.2);
	margin: 0 0.7320644216691069vw 0.7320644216691069vw 0;
	text-align: center;
	line-height: 2.9282576866764276vw;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
	color: #24262b;
	background-color: #ffffff;
}

.ico-logo img {
	float: left;
	width: 20.497803806734993vw;
	margin-left: 3.6603221083455346vw;
}


@media(max-width: 56.149341142020496vw) {
	.footer-col {
		width: 50%;
		margin-bottom: 2.1961932650073206vw;
	}
}

@media(max-width: 42.020497803806734vw) {
	.footer-col {
		width: 100%;
	}
}