.carousel-container {
    position: relative;
    margin: auto;
    margin-top: 3%;
    text-align: center;
    width: 51.24450951683748vw;
    box-shadow: 0 0.5856515373352855vw 0.36603221083455345vw #dce1e1;
    margin-bottom: 2rem;
}

.carousel-container img {
    display: none;
}

.carousel-container img.image-active {
    display: block;
    width: 100%;
    height: 65.88579795021963vw;
}

.carousel-dot-container {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    justify-content: center;
    padding: 0;
    margin-bottom: 1rem;
}

.dot {
    cursor: pointer;
    height: 0.9516837481698389vw;
    width: 0.9516837481698389vw;
    margin: 0 0.36603221083455345vw;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    transition: opacity 0.6s ease;
    opacity: 0.5;
}

.active,
.dot:hover {
    opacity: 1;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.btn-carousel {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    cursor: pointer;
}

.btn-prev {
    left: 0;
}

.btn-next {
    right: 0;
}

.icon-carousel {
    color: #fff;
    opacity: 0.5;
    transition: all 0.15s ease;
}

.icon-carousel:hover {
    opacity: 0.9;
}

.icon-carousel:active {
    opacity: 0.5;
}

.icon-next,
.icon-prev {
    font-size: 2.562225475841874vw;
}