<meta charset="utf-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<nav>
  <div class="logo">Meire Moraes Doces</div>
  <input type="checkbox" id="click">
  <label for="click" class="menu-btn">
    <i class="fas fa-bars"></i>
  </label>
  <ul>
    <li><a class="active" routerLink="home">Início</a></li>
    <li><a href="#">Produtos</a></li>
    <li><a href="#">Eventos</a></li>
    <li><a href="#">Localização</a></li>
    <li><a href="#">Fale Conosco</a></li>
  </ul>
</nav>