<link href="https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat&display=swap" rel="stylesheet">
<header class="header-container">
  <nav>
    <div class="ico-logo">
      <img src="/assets/images/Logo.svg">
    </div>
    <input type="checkbox" id="click">
    <label for="click" class="menu-btn">
      <i class="fas fa-bars"></i>
    </label>
    <ul>
      <li><a class="active" routerLink="home">Início</a></li>
      <li><a href="#">Casamentos</a></li>
      <li><a href="#">Eventos Corporativos</a></li>
      <li><a href="#">Festas</a></li>
    </ul>
  </nav>
</header>