<link href="https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat&display=swap" rel="stylesheet">
<header class="header-container">
  <nav>
    <div class="ico-logo">
      <img src="/assets/images/navBar/Logo.svg">
    </div>
    <input type="checkbox" id="click">
    <label for="click" class="menu-btn">
      <i class="fas fa-bars"></i>
    </label>
    <ul>
      <li><a routerLink="home" routerLinkActive="active">Início</a></li>
      <li><a routerLink="casamentos" routerLinkActive="active">Casamentos</a></li>
      <li><a routerLink="aniversarios" routerLinkActive="active">Aniversários</a></li>
      <li><a routerLink="doces" routerLinkActive="active">Doces</a></li>
    </ul>    
  </nav>
</header>