.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7936507936507936vw 6.349206349206349vw;
  background-color: rgba(255, 255, 255, 0.8);
}


.ico-logo img {
  float: left;
  width: 7.936507936507937vw;
  margin-right: 3.9682539682539684vw;
  position: fixed;
  top: 0.7936507936507936vw;
  left: 7.936507936507937vw;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

nav {
  display: flex;
  height: 4.142857142857143vw;
  width: 100%;
  background: linear-gradient(to top, rgba(255,255,255,0.8), rgba(255,255,255,900));
  align-items: center;
  justify-content: center;
  padding: 0 3.9682539682539684vw 0 7.936507936507937vw;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
}

nav ul li {
  margin: 0 0.3968253968253968vw;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 1.4285714285714286vw;
  font-weight: 500;
  padding: 0.6349206349206349vw 1.1904761904761905vw;
  border-radius: 0.3968253968253968vw;
  letter-spacing: 0.23809523809523808vw;
  transition: all 0.3s ease;
  font-family: 'Montserrat', sans-serif;
}

nav ul li a.active,
nav ul li a.active-link:hover {
  color: #faabc9;
  background: #ebe6e9;
}

nav .menu-btn i {
  color: #2e1603;
  font-size: 1.746031746031746vw;
  cursor: pointer;
  display: none;
}

input[type="checkbox"] {
  display: none;
}

@media (max-width: 79.36507936507937vw) {
  nav {
    padding: 0 3.1746031746031744vw 0 3.9682539682539684vw;
  }
}

@media (max-width: 73.01587301587301vw) {
  nav .menu-btn i {
    display: block;
  }

  #click:checked~.menu-btn i:before {
    content: "\f00d";
  }

  nav ul {
    position: fixed;
    top: 6.349206349206349vw;
    left: -100%;
    background: #000000;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }

  #click:checked~ul {
    left: 0;
  }

  nav ul li {
    width: 100%;
    margin: 3.1746031746031744vw 0;
  }

  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 1.5873015873015872vw;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  #click:checked~ul li a {
    margin-left: 0px;
  }

  nav ul li a.active,
  nav ul li a:hover {
    background: none;
    color: rgb(255, 255, 255);
  }
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 2.380952380952381vw;
  color: #000000;
}

.content div {
  font-size: 3.1746031746031744vw;
  font-weight: 700;
}