<link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />

<body>
  <section class="gallery-block grid-gallery">
    <div class="container">
      <div class="heading">
        <h2>Sabores irresistíveis para tornar seus momentos especiais ainda mais doces!</h2>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4 item">
          <a class="lightbox" href="assets/images/doces/Imagem31.jpg">
            <img class="img-fluid image scale-on-hover" src='assets/images/doces/Imagem31.jpg'>
            <div class="image-description">
              <p>Doces sabores - brigadeiro de maracujá, brigadeiro belga, brigadeiro de leite ninho, romance,caixeta de
                whisky com amêndoas, brigadeiro de pistache, brigadeiro com virutas, brigadeiro gourmet meio amargo.</p>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4 item">
          <a class="lightbox" href="assets/images/doces/Imagem34.jpg">
            <img class="img-fluid image scale-on-hover" src='assets/images/doces/Imagem34.jpg'>
            <div class="image-description">
              <p>Copo da felicidade - Red velvet</p>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4 item">
          <a class="lightbox" href="assets/images/doces/Imagem32.jpg">
            <img class="img-fluid image scale-on-hover" src='assets/images/doces/Imagem32.jpg'>
            <div class="image-description">
              <p>Doces sabores - brigadeiro branco com pérolas, leite ninho, bicho de pé, brigadeiro de maracujá ,
                brigadeiro branco , mini bolo de andar , brigadeiro gourmet( decoração para aniversário infantil , tema
                princesa).</p>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4 item">
          <a class="lightbox" href="assets/images/doces/Imagem45.jpg">
            <img class="img-fluid image scale-on-hover" src='assets/images/doces/Imagem45.jpg'>
            <div class="image-description">
              <p>Tortinha de frutas vermelhas</p>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4 item">
          <a class="lightbox" href="assets/images/doces/Imagem40.jpg">
            <img class="img-fluid image scale-on-hover" src='assets/images/doces/Imagem40.jpg'>
            <div class="image-description">
              <p>Cupcake tema jardim encantado</p>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4 item">
          <a class="lightbox" href="assets/images/doces/Imagem38.jpg">
            <img class="img-fluid image scale-on-hover" src='assets/images/doces/Imagem38.jpg'>
            <div class="image-description">
              <p>Bombons e trufas sabores - brilho tradicional, brigadeiro de cereja , romance, camafeu ,trufa Ferrero,
                brigadeiro de pistache, bombom de pistache, bombom de damasco, ninho com Nutella, e bombom de physalis.
              </p>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4 item">
          <a class="lightbox" href="assets/images/doces/Imagem39.jpg">
            <img class="img-fluid image scale-on-hover" src='assets/images/doces/Imagem39.jpg'>
            <div class="image-description">
              <p>Trufa personalizada tema Moana - Tartaruga</p>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4 item">
          <a class="lightbox" href="assets/images/doces/Imagem41.jpg">
            <img class="img-fluid image scale-on-hover" src='assets/images/doces/Imagem41.jpg'>
            <div class="image-description">
              <p>Bem casado</p>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4 item">
          <a class="lightbox" href="assets/images/doces/Imagem43.jpg">
            <img class="img-fluid image scale-on-hover" src='assets/images/doces/Imagem43.jpg'>
            <div class="image-description">
              <p>Brigadeiro de doce de leite com galinha em cima - Ninho com galinha</p>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4 item">
          <a class="lightbox" href="assets/images/doces/Imagem35.jpg">
            <img class="img-fluid image scale-on-hover" src='assets/images/doces/Imagem35.jpg'>
            <div class="image-description">
              <p>Pirulitão de batizado</p>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4 item">
          <a class="lightbox" href="assets/images/doces/Imagem37.jpg">
            <img class="img-fluid image scale-on-hover" src='assets/images/doces/Imagem37.jpg'>
            <div class="image-description">
              <p>Bombom de limão</p>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4 item">
          <a class="lightbox" href="assets/images/doces/Imagem36.jpg">
            <img class="img-fluid image scale-on-hover" src='assets/images/doces/Imagem36.jpg'>
            <div class="image-description">
              <p>Cone trufado e bolo trufado</p>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4 item">
          <a class="lightbox" href="assets/images/doces/Imagem33.jpg">
            <img class="img-fluid image scale-on-hover" src='assets/images/doces/Imagem33.jpg'>
            <div class="image-description">
              <p>Camafeu</p>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4 item">
          <a class="lightbox" href="assets/images/doces/Imagem44.jpg">
            <img class="img-fluid image scale-on-hover" src='assets/images/doces/Imagem44.jpg'>
            <div class="image-description">
              <p>Bombom de cereja</p>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4 item">
          <a class="lightbox" href="assets/images/doces/Imagem42.jpg">
            <img class="img-fluid image scale-on-hover" src='assets/images/doces/Imagem42.jpg'>
            <div class="image-description">
              <p>Bombom de prestígio</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
  <script>
    baguetteBox.run('.grid-gallery', { animation: 'slideIn' });
  </script>
</body>