<link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />

<body>
  <section class="gallery-block grid-gallery">
    <div class="container">
      <div class="heading">
        <h2>Delícias feitas com amor para adoçar seu aniversário!</h2>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4 item">
          <a class="lightbox" href="assets/images/aniversarios/Imagem16.jpg">
            <img class="img-fluid image scale-on-hover" src='assets/images/aniversarios/Imagem16.jpg'>
            <div class="image-description">
              <p>Bolo fake</p>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4 item">
          <a class="lightbox" href="assets/images/aniversarios/Imagem17.jpg">
            <img class="img-fluid image scale-on-hover" src='assets/images/aniversarios/Imagem17.jpg'>
            <div class="image-description">
              <p>Bolo mesversario</p>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4 item">
          <a class="lightbox" href="assets/images/aniversarios/Imagem23.jpg">
            <img class="img-fluid image scale-on-hover" src='assets/images/aniversarios/Imagem23.jpg'>
            <div class="image-description">
              <p>Bolo blindado</p>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4 item">
          <a class="lightbox" href="assets/images/aniversarios/Imagem30.jpg">
            <img class="img-fluid image scale-on-hover" src='assets/images/aniversarios/Imagem30.jpg'>
            <div class="image-description">
              <p>Bolo com cremoça com morango e chandele de chocolate</p>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4 item">
          <a class="lightbox" href="assets/images/aniversarios/Imagem18.jpg">
            <img class="img-fluid image scale-on-hover" src='assets/images/aniversarios/Imagem18.jpg'>
            <div class="image-description">
              <p>Bolo em pasta americana</p>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4 item">
          <a class="lightbox" href="assets/images/aniversarios/Imagem24.jpg">
            <img class="img-fluid image scale-on-hover" src='assets/images/aniversarios/Imagem24.jpg'>
            <div class="image-description">
              <p>Bolo de chocolate com leite ninho e Nutella</p>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4 item">
          <a class="lightbox" href="assets/images/aniversarios/Imagem19.jpg">
            <img class="img-fluid image scale-on-hover" src='assets/images/aniversarios/Imagem19.jpg'>
            <div class="image-description">
              <p>Bolo com brigadeiro branco e nha benta</p>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4 item">
          <a class="lightbox" href="assets/images/aniversarios/Imagem29.jpg">
            <img class="img-fluid image scale-on-hover" src='assets/images/aniversarios/Imagem29.jpg'>
            <div class="image-description">
              <p>Bolo flork com leite ninho e chandele de chocolate</p>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4 item">
          <a class="lightbox" href="assets/images/aniversarios/Imagem21.jpg">
            <img class="img-fluid image scale-on-hover" src='assets/images/aniversarios/Imagem21.jpg'>
            <div class="image-description">
              <p>Bolo com cremoça e ninho com morango</p>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4 item">
          <a class="lightbox" href="assets/images/aniversarios/Imagem22.jpg">
            <img class="img-fluid image scale-on-hover" src='assets/images/aniversarios/Imagem22.jpg'>
            <div class="image-description">
              <p>Bolo de 3 andares</p>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4 item">
          <a class="lightbox" href="assets/images/aniversarios/Imagem25.jpg">
            <img class="img-fluid image scale-on-hover" src='assets/images/aniversarios/Imagem25.jpg'>
            <div class="image-description">
              <p>Bolo de chocolate com brigadeiro</p>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4 item">
          <a class="lightbox" href="assets/images/aniversarios/Imagem26.jpg">
            <img class="img-fluid image scale-on-hover" src='assets/images/aniversarios/Imagem26.jpg'>
            <div class="image-description">
              <p>Bolo de chocolate com charge e cremoça com morango</p>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4 item">
          <a class="lightbox" href="assets/images/aniversarios/Imagem20.jpg">
            <img class="img-fluid image scale-on-hover" src='assets/images/aniversarios/Imagem20.jpg'>
            <div class="image-description">
              <p>Bolo com cremoninho e Nutella</p>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4 item">
          <a class="lightbox" href="assets/images/aniversarios/Imagem27.jpg">
            <img class="img-fluid image scale-on-hover" src='assets/images/aniversarios/Imagem27.jpg'>
            <div class="image-description">
              <p>Bolo com dois recheios de doce de leite com nozes</p>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4 item">
          <a class="lightbox" href="assets/images/aniversarios/Imagem28.jpg">
            <img class="img-fluid image scale-on-hover" src='assets/images/aniversarios/Imagem28.jpg'>
            <div class="image-description">
              <p>Bolo com brigadeiro branco com cereja e Mousse de limão</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
  <script>
    baguetteBox.run('.grid-gallery', { animation: 'slideIn' });
  </script>
</body>