
<link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />
<body>
    <section class="gallery-block grid-gallery">
        <div class="container">
            <div class="heading">
                <h2>Delícias feitas com amor para adoçar seu aniversário!</h2>
            </div>
              <div class="row">
                <div class="col-md-6 col-lg-4 item">
                  <a class="lightbox" href="assets/images/aniversarios/img3.jpeg">
                    <img class="img-fluid image scale-on-hover" src='assets/images/aniversarios/niver3.jpeg'>
                  </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                  <a class="lightbox" href="assets/images/aniversarios/img4.jpeg">
                      <img class="img-fluid image scale-on-hover" src='assets/images/aniversarios/niver4.jpeg'>
                  </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                  <a class="lightbox" href="assets/images/aniversarios/img6.jpeg">
                      <img class="img-fluid image scale-on-hover" src='assets/images/aniversarios/niver6.jpeg'>
                  </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                  <a class="lightbox" href="assets/images/aniversarios/img7.jpeg">
                      <img class="img-fluid image scale-on-hover" src='assets/images/aniversarios/niver7.jpeg'>
                  </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                  <a class="lightbox" href="assets/images/aniversarios/img8.jpeg">
                      <img class="img-fluid image scale-on-hover" src='assets/images/aniversarios/niver8.jpeg'>
                  </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                  <a class="lightbox" href="assets/images/aniversarios/img15.jpeg">
                      <img class="img-fluid image scale-on-hover" src='assets/images/aniversarios/niver15.jpeg'>
                  </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                  <a class="lightbox" href="assets/images/aniversarios/img1.jpg">
                    <img class="img-fluid image scale-on-hover" src='assets/images/aniversarios/niver1.jpg'>
                  </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                  <a class="lightbox" href="assets/images/aniversarios/img2.jpg">
                    <img class="img-fluid image scale-on-hover" src='assets/images/aniversarios/niver2.jpg'>
                  </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                  <a class="lightbox" href="assets/images/aniversarios/img5.jpeg">
                      <img class="img-fluid image scale-on-hover" src='assets/images/aniversarios/niver5.jpeg'>
                  </a>
                </div>
              </div>
            </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script>
        baguetteBox.run('.grid-gallery', { animation: 'slideIn'});
    </script>
</body>
