.divider {
  position: relative;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider img {
  max-width: 100%;
  height: auto;
}

.imagem {
  position: relative;
  margin-top: 2rem;
  text-align: center;
}

.imagem img {
  max-width: 100%;
  opacity: 0.4;
  margin-bottom: 3rem;
}

.imagem .texto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
}

.imagem .texto h2 {
  font-size: 36px;
  color: #000000;
}

.imagem .texto p {
  font-size: 35px;
  color: #000000;
  font-family: 'Cookie', cursive;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

