<link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">

<body>
    <app-carousel [images]="images" [autoSlide]="true" [indicators]="false"></app-carousel>
    <div class="divider">
        <img src="/assets/images/home/divider.svg">
    </div>
    <div class="imagem">
        <img src="/assets/images/home/img1.jpg">
        <div class="texto">
            <p>"Descubra a doçura que encanta os paladares e entre em contato conosco para criar sob medida os doces perfeitos para seu evento inesquecível."
            </p>
        </div>
    </div>
</body>