<link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">

<body>
    <app-carousel [images]="images" [autoSlide]="true" [indicators]="false"></app-carousel>
    <div class="divider">
        <img src="/assets/images/home/divider.svg">
    </div>
    <div class="imagem">
        <img src="/assets/images/home/img1.jpg">
        <div class="texto">
            <p>"Para ajudar a tornar a sua escolha de doces mais fácil, estamos felizes em fornecer um catálogo de
                produtos
                completo com fotos e descrições detalhadas. Navegue por nossas categorias de produtos para encontrar
                doces
                para todos os gostos e ocasiões, desde aniversários até casamentos e eventos corporativos.
                Estamos comprometidos em fornecer os melhores doces para nossos clientes e oferecemos uma variedade de
                opções para atender às suas necessidades específicas. De bolos personalizados a cupcakes, bombons,
                trufas e
                muito mais, temos o que você precisa para tornar seu evento ainda mais doce.
                Não hesite em entrar em contato conosco para mais informações de orçamento ou para fazer seu pedido.
                Estamos
                ansiosos para fazer parte da sua próxima festa e ajudá-lo a torná-la ainda mais especial."
            </p>
        </div>
    </div>
</body>