
body{
  margin-top: 3rem;
}

.divider {
  position: relative;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider img {
  max-width: 100%;
  height: auto;
}

.imagem {
  position: relative;
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.imagem img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  opacity: 0.4;
}

.imagem .texto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 1.5vw;
}


