.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5%;
}

.imagem {
    flex: 0.7;
}

.imagem img {
    max-width: 90%;
}

.texto {
    flex: 1;
    margin-right: 25px;
    font-family: 'Cookie', cursive;
    font-size: 35px;
    margin-bottom: 4rem;
}

.texto h1 {
    font-size: 100px;
    font-weight: bold;
    text-align: center;
}

.texto p {
    text-align: justify-all;
}

.texto hr {
    width: 100%;
    border: 1px solid #faabc9;
}