<link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
<div class="container">
  <div class="imagem">
    <img src="assets/images/sobreNosBackground1.jpg">
  </div>
  <div class="texto">
    <h1>Sobre Nós</h1>
    <hr>
    <p>Nossa empresa foi fundada em 2012 por uma apaixonada por confeitaria.
      Começamos fazendo trufas artesanais e, aos poucos, fomos ampliando nosso cardápio
      e nossos horizontes. Hoje, nos orgulhamos de ter conquistado um público fiel e satisfeito
      em toda a região.
    <p>
      Nossa missão é bem simples: adoçar a vida das pessoas. Acreditamos que um doce pode transformar o dia de alguém e,
      por isso, dedicamos todos os nossos esforços para criar produtos deliciosos e irresistíveis. Afinal, não há nada
      melhor do que um sorriso de satisfação no rosto dos nossos clientes.
    <p>
      Para alcançar essa missão, temos uma visão clara e ambiciosa: obter sucesso em tudo o que fazemos. Queremos ser
      reconhecidos como referência no mercado de confeitaria, destacando-nos pela qualidade, inovação e excelência no
      atendimento.
    <p>
      Além disso, nossos valores são fundamentais para guiar nossas ações e decisões. Valorizamos a ética, a
      transparência, a responsabilidade, a criatividade e a paixão pelo que fazemos. Esses valores são o alicerce da
      nossa empresa e nos motivam a sempre buscar o melhor para nossos clientes e colaboradores.
    <p>
      Esperamos que essa apresentação tenha ajudado a conhecer um pouco mais sobre a nossa empresa. Estamos sempre em
      busca de novos desafios e oportunidades para crescer e evoluir, e esperamos contar com você nessa jornada.
      Obrigado por nos escolher!</p>
    <hr>
  </div>
</div>